USE [master]
GO
/****** Object:  Database [ComicsRUs]    Script Date: 03/17/2013 18:15:45 ******/
CREATE DATABASE [ComicsRUs] ON  PRIMARY 
( NAME = N'ComicsRUs', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\ComicsRUs.mdf' , SIZE = 2048KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'ComicsRUs_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\ComicsRUs_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ComicsRUs].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ComicsRUs]
GO
/****** Object:  Table [dbo].[ComicData]    Script Date: 03/17/2013 18:15:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ComicData](
	[FileName] [nvarchar](55) NOT NULL,
	[FileExtension] [nvarchar](5) NOT NULL,
	[Website] [varchar](25) NOT NULL,
	[Bumps] [int] NOT NULL,
	[FilePath] [nvarchar](100) NOT NULL,
	[DateAdded] [datetime] NOT NULL,
	[TotalNumber] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_ComicData] PRIMARY KEY CLUSTERED 
(
	[FileName] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
